.question-container{
    width: 100%;
    height: 100%;
}
.question-number{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.question-score{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.question-text > p{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-wrap: break-word;
}

.question-options{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   margin:10px 0px;
}

.question-option{
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #f2f0e4;
    width:max-content;
    box-shadow: 0px 0px 2px 0px #000;
    max-width: 90%;
    overflow-wrap: break-word;

}

.question-next-button{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: limegreen;
    width:max-content;
    box-shadow: 0px 0px 2px 0px gray;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    color: white;
}

.quit-test-button{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #d11a2a;
    width:max-content;
    box-shadow: 0px 0px 2px 0px gray;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    color: white;
    margin-right: 2rem;
}

/* mobile responsiveness */
@media screen and (max-width: 768px) {
    .question-container{
        width: 100%;
        height: 100vh;
        overflow-y: wrap;
        padding-top: 20px;
    }
    .question-number{
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    
 
    
    .question-text > p{
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 1rem;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        overflow-wrap: break-word;
    }
    
    .question-options{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
       margin:10px 0px;
    }
    
    .question-option{
        cursor: pointer;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: #f2f0e4;
        width:max-content;
        box-shadow: 0px 0px 2px 0px #000;
        max-width: 90%;
        overflow-wrap: break-word;
    
    }
    
    .question-next-button{
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: limegreen;
        width:max-content;
        box-shadow: 0px 0px 2px 0px gray;
        cursor: pointer;
        font-size: 1rem;
        text-align: center;
        text-transform: capitalize;
        font-weight: 500;
        color: white;
    }
    
    .quit-test-button{
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: #d11a2a;
        width:max-content;
        box-shadow: 0px 0px 2px 0px gray;
        cursor: pointer;
        font-size: 1rem;
    }}