.message-sender-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2px;
    max-width: fit-content;
    padding:5px 10px;
    margin-left: 30px;
    background-color: lightgray;
    margin-right: 30px;
    word-break:break-all;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.message-reciever-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2px;
    padding:5px 10px;
    margin-left: 10px;
    background-color:  #007fff;
    max-width: fit-content;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    word-break:break-all;
    margin-right: 30px;
}

.message-content{
    max-width: 100%;
    overflow-wrap: break-word;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex:1;
    font-size: 18px;
    margin: 2px 0px;
}

.message-owner-name{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.message-time-text{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;    
}