.message-sender-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2px;
    max-width: fit-content;
    padding:5px 10px;
    margin-left: 30px;
    background-color: lightgray;
    margin-right: 30px;
    word-break:break-all;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.message-reciever-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2px;
    padding:5px 10px;
    margin-left: 10px;
    background-color:  #007fff;
    max-width: fit-content;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    word-break:break-all;
    margin-right: 30px;
}

.message-content{
    max-width: 100%;
    overflow-wrap: break-word;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex:1;
    font-size: 18px;
    margin: 2px 0px;
}

.message-owner-name{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.message-time-text{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;    
}

.message-shared-post-container{
    background-color: #f2f0e4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px 0px;
cursor: pointer;
}

.message-shared-post-owner-name{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: 600;
}

.message-shared-post-caption{
    font-size: 18px;
    color: #657786;
    font-weight: 400;
    margin-left:10px;
}

.message-shared-post-image >img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.message-shared-post-image{
    max-width:400px;
    height: auto;
    border-radius: 10px;
}

.message-shared-post-owner{
    max-width: 400px;
    word-wrap: normal;
    overflow: scroll;
}

@media only screen and (max-width: 600px) {
    .message-shared-post-image{
        max-width: 200px;
    }
    
    .message-shared-post-owner{
        max-width: 200px;
    }
}