.main{
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    overflow-x: hidden;
    padding:0px;
    margin:0px;
    overflow-y: hidden;
}

.sidebar{
    width: 20%;
    height: 100%;
    background-color: #f2f0e4;
}

.content {
    width: 80%;
    height: 100%;
    background-color: #f2f0e4;

}

/* mobile responsiveness */
@media only screen and (max-width: 1000px) {
    .main{
        flex-direction: column-reverse;
        width: 100%;
        height: 90vh;
        overflow-y: hidden;
        padding:0px;
        margin:0px;        
    }
    .sidebar{
        width: 100%;
        height:7vh;
        padding:0px;
        margin:0px;
        
    }
    .content{
        width: 100%;
        padding:0px;
        margin:0px;
        overflow-y: scroll;  
    }

    ::-webkit-scrollbar {
        width: 0px;  /* Remove scrollbar space */
    }
}
