.settings-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 10px;
    overflow-y: scroll;
}

.settings-header > p{
    font-size: 30px;
    font-weight: 600;
    margin: 10px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
    align-items: center;
}   

.settings-logout-container{
  display: flex;
  padding:10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
background-color: #d11a2a;
color: white;
border-radius: 5px;
font-size: 1.5rem;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 400;
max-width: 300px;
margin: 10px;

}

.settings-logout{
  display:flex;
}


.logout-icon-container{
  padding-top: 3px;
  padding-right: 15px;
}

.logout-icon{
  font-size: 1.5rem;
  width: 1.5rem;
}

.bookmarks-title{

}

.bookmarks{
  display: flex;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width:300px;
}

.bookmarks-icon-container{
  padding-top: 2px;
  padding-right: 15px;
}

.bookmarks-icon{
  font-size: 1.5rem;
  width: 1.5rem;
}

.bookmarks-title > p{
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}